@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@font-face {
  font-family: GetSchwifty;
  src: url("../images/getSchwifty.ttf");
}

html {
  max-height: none;
  height: 100%;
  -webkit-text-size-adjust: none;
}

h1 {
  font-family: 'GetSchwifty', sans-serif;
  color: #25e6f6;
  text-shadow: 0px 0px 10px #a6d61f;
  -webkit-text-stroke: 1px black solid;
}

h2 {
  font-family: 'GetSchwifty', sans-serif;
  color: #25e6f6;
  text-shadow: 0px 0px 10px #a6d61f;
  -webkit-text-stroke: .5px #164904;
  line-height: 50px;
  margin-bottom: 25px;
}

h3 {
  font-family: 'Just Another Hand', cursive;
  color: #25e6f6;
  text-shadow: 0px 0px 0px #a6d61f;
}

h4 {
  color: #000000;
  font-family: 'Just Another Hand', cursive;
}

h5,
h6 {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Just Another Hand', cursive;
}

body {
  max-height: none;
  font-family: 'Just Another Hand', cursive;
  color: #000;
  background-image: url("../images/lg.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
}

a {
  color: #000;
}

.btn1 {
  background-color: #06dd06;
}

.btn2 {
  background-color: #25e6f6;
}

.btn,
p {
  font-weight: 600;
  background-color:
}

.jumbotron {
  background-image: url("../images/M31.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 5px #666666 solid;
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbotron h1 span {
  margin: padding-bottom: 0px;
  font-size: 80px;
  color: #25e6f6;
  text-shadow: 0px 0px 15px #c4d61f;
}

.panel-default {
  border: 2px solid #666666;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-default>.panel-heading {
  background-color: #666666;
  color: #25e6f6;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
}

.left p {
  font-size: 19px;
}

.footer {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  position: static;
  bottom: 0;
}

#placeholder {
  font-family: 'Just Another Hand', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #666666;
  font-size: 25px;
  padding: 15px 5px;
  margin: 10px 0;
  border: 1px dotted #666666;
}

#lettersGuessedSpace {
  font-size: 23px;
  letter-spacing: 5px;
  display: block;
  position: relative;
  overflow: hidden;
  word-break: break-all;
}

#name {
  font-variant: small-caps;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
}

#youtube iframe {
  width: 100%;
}